<!DOCTYPE html>
<html>
  <head>
    <title>Movie API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My movies api</h1>
    <p>Welcome to the half assed page</p>
    <a href="/movies/getallmovies">List of all movies</a>
    <a href="/movies/addmovie">Add a movie to the list</a>
    <a href="/movies/findmovie">Find a movie</a>
  </body>
</html>
