body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-image: url(../images/theater.jpg);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

a {
    color: #00b7ff;
    text-decoration: none;
}
a:hover {
    color: red;
}

p {
    color: white;
}

h1 {
    color:white;
}

label {
    color: white;
}